:root {
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-gray: #e1e1e1;

    --border-radius: 15px;

    --container-width: 1200px;
    --container-padding-x: 15px;

    --transition-duration: 0.3s;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-size: 15px;
    background-color: var(--color-light);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-dark);
    transition: var(--transition-duration);
}

/*-------------------------------base.html------------------------------*/
header {
    height: 60px;
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-logo img:hover {
    transform:rotate(360deg);
    transition: var(--transition-duration);
}

.header-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-menu-link, .header-actions-link {
    opacity: .8;
}

.header-menu-link:hover, .header-actions-link:hover {
    opacity: 1;
}

.header-actions-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

/*-------------------------------products.html------------------------------*/

.products {
    margin: 50px auto;
}

.products-list-title {
    font-size: 40px;
}

.products-list {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;;
}

.products-list-item {
    background-color: var(--color-gray);
}

.products-list-link {
    display: block;
    padding: 20px;
    box-sizing: border-box;
}

.album-img {
    width: 252px;
    height: 252px;
    background-color: var(--color-light);
    margin: 0 0 10px 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.artist-name {
    font-weight: 500;
}
