{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <header class="container">
        <a href="{% url 'index' %}" class="header-logo">
            <img src="{% static 'img/logo-icon.svg' %}" 
                 alt="logo" loading="lazy"
                 width="40px" height="40px">
        </a>
        <nav class="header-nav">
            <ul class="header-menu-list">
                <li class="header-menu-item"><a href="{% url 'index' %}" class="header-menu-link">Home</a></li>
                <li class="header-menu-item"><a href="{% url 'products:index' %}" class="header-menu-link">Vinyl</a></li>
                <li class="header-menu-item"><a href="#" class="header-menu-link">Blog</a></li>
                <li class="header-menu-item"><a href="{% url 'about' %}" class="header-menu-link">About</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <ul class="header-actions-list">
                <li class="header-actions-item"><a href="#" class="header-actions-link">Sign In</a></li>
                <li class="header-actions-item"><a href="#" class="header-actions-link">Profile</a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
</body>
</html>